@model ContatoModel
@{ 
    ViewData["Title"] = "Criar Modelo";
}


<div class="text-center">

    <h1 class="display-4"> Adicionar novo Modelo</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="Modelo">Modelo</label>
        <input type="text" asp-for="Modelo" class="form-control" placeholder="Digite o Modelo">
    </div>

    <div class="form-group">
        <label for="Cor">Cor</label>
        <select class="form-select" asp-for="Cor">
            <option>Selecione a Cor</option>
            <option value="AZUL">AZUL</option>
            <option value="PRETO">PRETO</option>
            <option value="VERMELHO">VERMELHO</option>
            <option value="BRANCO">BRANCO</option>
        </select>
    </div>

    
    <div class="form-group">
        <label for="Placa">Placa</label>
        <input type="text" asp-for="Placa" class="form-control" placeholder="Digite a Placa">
    </div>


    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>
