@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Lava Jato dos Irmãos</p>
        
</div>

<br />
<br />
<br />
<br />

<div class="text-center">
    <a class="btn btn-primary" role="button" asp-action="Index" asp-controller="Marca">Entrar</a>
</div>


